.text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 480px;
  }
  /*自己写的样式 */
  body{
      
    background: url(../img/1.jpg);
    width: 100%;
  
  
   
  }
  .el-card{
    height: 320px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .el-card__header{
    padding: 10px 53px;
}

  .el-card__header h1{
    font-size: 20px; 
    
}

  .el-card__header h1 span{
   color:fuchsia;
   font-size: 25px;
}
.el-input{
    width: 80%
}