<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加分类</title>
    <!-- 引入reset.css -->
    <link rel="stylesheet" href="style/reset.css">
    <!-- 引入elementUI.css -->
    <link rel="stylesheet" href="style/elementUI.css">
    <!-- 引入index.css -->
    <link rel="stylesheet" href="style/index.css">
</head>

<body>
    <div id="app">
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>添加管理</span>
                </div>
                <div class="text item">
                    <el-row>
                        <el-col :span="10">

                            <el-form :label-position="labelPosition" :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2"
                                label-width="100px" class="demo-ruleForm">


                                <el-form-item label="所属分类:" prop="usergroup">
                                    <el-select v-model="ruleForm2.usergroup" placeholder="请选择分类">
                                        <el-option label="顶级分类" value="0">---顶级分类---</el-option>
                                        <el-option v-for="(c, index) in categoryList" :key="index" :label="c.cg_name" :value="c.cg_id"></el-option>
                                    </el-select>


                                </el-form-item>
                                <el-form-item label="分类名称:" prop="name">
                                    <el-input v-model="ruleForm2.name"></el-input>
                                </el-form-item>
                                <template>
                                    <el-form-item label="状态" prop="state">
                                        <el-radio-group v-model="ruleForm2.state">
                                            <el-radio value="1" label="1">启用</el-radio>
                                            <el-radio value="0" label="0">禁用</el-radio>
                                        </el-radio-group>
                                    </el-form-item>
                                </template>
                                <el-form-item>
                                    <el-button type="success" plain @click="submitForm('ruleForm2')">添加</el-button>
                                    <el-button type="danger" plain @click="resetForm('ruleForm2')">重置</el-button>
                                </el-form-item>


                            </el-form>

                        </el-col>


                    </el-row>
                </div>
            </el-card>

        </el-main>
    </div>
    <!-- 引入jquery.min.js -->
    <script src="./js/jquery.min.js"></script>
    <!-- 引入vue.min.js -->
    <script src="./js/vue.min.js"></script>
    <!-- 引入elementUI.js -->
    <script src="./js/elementUI.js"></script>
    <script>
        /* 创建vue实例 */
        new Vue({
            el: "#app",
            data() {
                return {
                    labelPosition: 'top',
                    ruleForm2: {
                        usergroup: '',
                        name: '',
                        state: "1"
                    },
                    categoryList:[],
                    rules2: {
                        usergroup: [
                            { required: true, message: '请选择分类', trigger: 'change' }
                        ],
                        name: [
                            { required: true, message: '请选择分类名称', trigger: 'blur' },

                        ],
                    }
                };
            },
            mounted(){
                $.get("/category/list",(dataList)=>{
                    this.categoryList=dataList
                })
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            $.post("/category/add", this.ruleForm2, function (results) {
                            
                                if (results.isOk) {
                                   if(confirm("请问您继续添加吗？")){
                                       location.reload()
                                   }
                                } else {
                                   location.href="management.html"
                                }
                            })
                            //console.log(this.ruleForm2)

                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }



        });
    </script>
</body>

</html>